{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block header %}
<link rel="stylesheet" href="{% static 'regata/css/home.css' %}"/>
<link rel="stylesheet" href="{% static 'regata/css/form.css' %}"/>
{% endblock %}

{% block content %}
<div class="parallax-container" style="height:100px;">
    <div class="parallax">
        <img src="{% static 'regata/medias/slider/giraglia.jpg' %}">
    </div>
</div>
<div class="section" style="background-color: #00c1ea;">
    <div class="row">
        <div class="col s12 m4 offset-m4 center" >
            <a id="separator">{% trans 'Bonjour ' %} {{user.first_name}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col s6 m4 l2 offset-l3">
            <div id="crew-profile" class="center promo">
                <img src="{% static 'regata/icons/picto_equipier_home_page.png' %}"></img>
                <p class="promo-caption"><b>{% trans 'Je suis un équipier' %}</b></p>
            </div>
        </div>
        <div id="boat-profile" class="col s6 m4 l2">
            <div class="center promo promo-example">
                <img src="{% static 'regata/icons/picto_bateau_home_page.png' %}"></img>
                <p class="promo-caption"><b>{% trans 'J\'ai un bateau' %}</b></p>
            </div>
        </div>
        <div  id="regata-planning"class="col s12 m4 l2">
            <div class="center promo promo-example">
                <img src="{% static 'regata/icons/picto_regate_home_page.png' %}"></img>
                <p class="promo-caption"><b>{% trans 'Mes régates' %}</b></p>
            </div>
        </div>
    </div>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="section" style="background-color: #ffffff;">
        <div class="row">
            <h5>{% trans 'Profil personnel' %}</h5>
            <div class="divider"> </div>
            <div class="col s12 m4 center">
                <img class="avatar" src="{{ user.crew.picture.url | default:'icons/avatar/default.png' }}"></img>
                    {{ profile_form.picture }}
            </div>
            <div class="col s12 m6 ">
                <table class="form">
                    <tr>
                        <th>{{ user_form.first_name.label }} </th> <td> {{ user_form.first_name }}</td>
                    </tr>
                    <tr>
                        <th>{{ user_form.last_name.label }} </th> <td> {{ user_form.last_name }}</td>
                    </tr>
                    <tr>
                        <th>{{ profile_form.gender.label }} </th> <td>{{ profile_form.gender }}</td>
                    </tr>
                    <tr>
                        <th>{{ profile_form.birth_date.label }} </th> <td>{{ profile_form.birth_date }}</td>
                    </tr>
                    <tr>
                        <th>{{ profile_form.size.label }} </th> <td>{{ profile_form.size }}</td>
                    </tr>
                    <tr>
                        <th>{{ profile_form.weight.label }} </th> <td>{{ profile_form.weight }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <h5>{% trans 'Profil régatier' %}</h5>
            <div class="divider"> </div>
            <div class="col s12 m8 offset-m4">
            </div>
        </div>
        <input type="submit" value="{% trans 'Valider' %}" />
    </div>
</form>

{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    $('.parallax').parallax();
});
</script>
{% endblock %}
