{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block content %}

<div name="slider">

    <div style="background-color:transparent;" class="center-align">
        <h3>Trouvez facilement un embarquement</h3>
        <h4><font color="#00cfe8">Pleins </font>d'embarquements inscrits </h4>
        </br>
        <a class="btn"><span>Inscription gratuite</span></a>
        <p>J'ai déjà un compte, <a class="modal-trigger white" href="#modal_login"><font color="#00cfe8">je me connecte ici.</font></a></p>
    </div>
</div>

<div class="section" style="background-color: 52c0e8;">
    <div class="row ">
        <div class="col s2 offset-s3">
            <div class="center promo promo-example">
                <i class="material-icons">group</i>
                <p class="promo-caption">{% trans 'Des équipiers,' %}</p>
                <p class="light center">{% lorem p %}</p>
            </div>
        </div>
        <div class="col s2">
            <div class="center promo promo-example">
                <i class="material-icons">flash_on</i>
                <font color="black"><p class="promo-caption">{% trans 'des bateaux,' %}</p></font>
                <p class="light center">{% lorem p %}
            </div>
        </div>
        <div class="col s2">
            <div class="center promo promo-example">
                <i class="material-icons">settings</i>
                <p class="promo-caption">{% trans 'des régates' %}</p>
                <p class="light center">{% lorem p %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script type="text/javascript" src="{% static 'regata/caroussel.js' %}">
<script type="text/javascript">
$( document ).ready(function(){
    $('.slider').slider({ full_width: true,});
    $('.modal-trigger').leanModal();
}); 

var carroussel =	{
    images: {
        '{% static "landing/images/bg01.jpg" %}': 'center',
        '{% static "landing/images/bg02.jpg" %}': 'center',
        '{% static "landing/images/bg03.jpg" %}': 'center'
    },
};

</script>
{% endblock %}
