{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block header %}
<link rel="stylesheet" href="{% static 'regata/css/home.css' %}"/>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.31.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}
<div class="slider white">
    <ul class="slides">
        <li>
            <img src="{% static "regata/medias/slider/cata_sport.jpg" %}">
            <div class="caption center-align">
                <h3>Trouvez facilement un embarquement</h3>
                <h4><font color="#00c1ea">435 </font>embarquements inscrits </h4>
                </br>
                <a class="bewet-btn btn"><span>Inscription gratuite</span></a>
                <p>J'ai déjà un compte, <a class="modal-trigger" href="#modal_login"><font color="#52c0e8">je me connecte ici.</font></span></a></p>
            </div>
        </li>
        <li>
            <img src="{% static "regata/medias/slider/flotte.jpg" %}">
            <div class="caption left-align">
                <h3>Trouvez facilement un embarquement</h3>
                </br>
                <a class="bewet-btn btn"><span>Inscription gratuite</span></a>
                <p>J'ai déjà un compte, <a class="modal-trigger" href="#modal_login"><font color="#52c0e8">je me connecte ici.</font></span></a></p>
            </div>
        </li>
        <li>
            <img src="{% static "regata/medias/slider/equipage_ombre.jpg" %}">
            <div class="caption center-align">
                <h3>Trouvez facilement un embarquement</h3>
                <h4><span color="#00c1ea">435 </span>embarquements inscrits </h4>
                </br>
                <a class="bewet-btn btn"><span>Inscription gratuite</span></a>
                <p>J'ai déjà un compte, <a class="modal-trigger" href="#modal_login"><font color="#52c0e8">je me connecte ici.</font></span></a></p>
            </div>
        </li>
        <li>
            <img src="{% static "regata/medias/slider/voiles_ombre.jpg" %}">
            <div class="caption right-align">
                <h3>Trouvez facilement un embarquement</h3>
                <h4><span color="#00c1ea">435 </span>embarquements inscrits </h4>
                </br>
                <a class="bewet-btn btn"><span>Inscription gratuite</span></a>
                <p>J'ai déjà un compte, <a class="modal-trigger" href="#modal_login"><font color="#52c0e8">je me connecte ici.</font></span></a></p>
            </div>
        </li>
    </ul>
</div>

<div class="row center" id="separator" style="background-color: #000000;margin-bottom:0;width:100%" >
    <img id="white_arrow" src="{% static 'icons/selector-white.png' %}"></img>
    <span id="separator" class="z-depth-1 center">{% trans 'Les régates de ce mois' %} </span>
</div>
<div class="row" style="background-color: #000000;margin-bottom:0;width:100%;align:center" >
    <div class="wrapper" style="width:100%;height:100%" >
        <div id="map" style="width:100%; height:600px">
        </div>
        <div class="map_listing">
            <ul>
            </ul>
        </div>
    </div>
</div>

<div class="row" style="background-color: #00c1ea; width:100%">
    <div id="separator" class="center" style="position:relative;" >
        <img id="white_arrow" src="{% static 'icons/selector-white.png' %}"></img>
        <div class="center" >
            <span class="z-depth-1" id="separator">{% trans 'Faites des matchs' %} </span>
        </div>
    </div>
    <div class="col s6 m4 l2 offset-l3">
        <div class="center promo">
            <img src="{% static 'regata/icons/picto_equipier_home_page.png' %}"></img>
            <p class="promo-caption"><b>{% trans 'Je complète,' %}</b></p>
            <p class="promo-desc">{% trans 'mon profil' %}</p>
        </div>
    </div>
    <div class="col s6 m4 l2">
        <div class="center promo promo-example">
            <img src="{% static 'regata/icons/picto_bateau_home_page.png' %}"></img>
            <p class="promo-caption"><b>{% trans 'Je sélectionne,' %}</b></p>
            <p class="promo-desc">{% trans 'une régate' %}</p>
        </div>
    </div>
    <div class="col s12 m4 l2">
        <div class="center promo promo-example">
            <img src="{% static 'regata/icons/picto_regate_home_page.png' %}"></img>
            <p class="promo-caption"><b>{% trans 'Ca match !' %}</b></p>
            <p class="promo-desc">{% trans 'Je navigue  ' %}</p>
        </div>
    </div>
    <div class="col s12 m6 offset-m3 l4 offset-l4 center" style="margin-bottom:30px;">
        <hr style="width:43px; height:3px; background: #ffffff; border:none;"/>
        <p class="white-text">{% trans 'Régatez toute l\'année avec Bewet.' %}</p>
        <p class="center black-text" style="font-style:bold;font-size:1.2em">{% trans 'Voir la vidéo' %}</b></p>
        <a class="video-modal-trigger" href="#modal_video"><img src="{% static 'regata/icons/bouton_play_video.png' %}"></img></a>
    </div>
</div>

<div id="modal_video" class="modal modal-fixed-footer">
    <div class="modal-content">
    </div>
</div>

{% endblock %}

{% block js %}
<script src='https://api.mapbox.com/mapbox-gl-js/v0.31.0/mapbox-gl.js'></script>

<script type="text/javascript">
mapboxgl.accessToken = 'pk.eyJ1IjoiamRlbWF1cnkiLCJhIjoiOGJiYjkzOWI3MzY4ZGIwNjM4MDE0MmU1OWU1ZTU3YzgifQ.lXa1KAJd8k-DU_WvtsINlA';

var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    minZoom:0,
    maxZoom:20,
    zoom:8,
    center:[5.22,43.18],
});

// Add zoom and rotation controls to the map.
map.addControl(new mapboxgl.NavigationControl(), 'top-right');

// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

map.on('load', function(){
    $.post(
            "{% url 'regata:_clubs' %}", 
            function(data){
                map.addSource("clubs", {
                    "type": "geojson",
                    "data": JSON.parse(data),
                });


                map.addLayer({
                    "id":"clubs_layer",
                    "type":"circle",
                    "source":'clubs',
                    "paint": {
                        "circle-radius": 10,
                        "circle-color": "#ff442b",
                        "circle-opacity": 0.6
                    } 
                });
        });
});

map.on('click', function(e) {
  var features = map.queryRenderedFeatures(e.point, {
    layers: ['clubs_layer']
  });

  if (!features.length) {
    return;
  }

  var feature = features[0];

  var popup = new mapboxgl.Popup({ offset: [0, -15] })
    .setLngLat(feature.geometry.coordinates)
    .setHTML('<span>' + feature.properties.name + '</span>')
    .setLngLat(feature.geometry.coordinates)
    .addTo(map);
});


</script>

<script type="text/javascript">
$( document ).ready(function(){
    $('.slider').slider({full_width: true, height: '480px'});
    $('.video-modal-trigger').leanModal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        in_duration: 300, // Transition in duration
        out_duration: 200, // Transition out duration
        starting_top: '4%', // Starting top style attribute
        ending_top: '10%', // Ending top style attribute
        ready: function() {
            $('#modal_video').load('{% url 'regata:video' %}'); }, // Callback for Modal open
        complete: function() {} // Callback for Modal close
    });
});
</script>
{% endblock %}
