{% load staticfiles %}
{% load i18n %}

<div class="section" style="background-color: #ffffff;">
    <form action="{% url 'regata:boat_profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <h5>{% trans 'Profil de mon bateau' %}</h5>
                <div class="divider"> </div>
                <div class="col s8 m4 center">
                    <img class="avatar" src="{{ boat.picture.url | default:'icons/avatar/default-boat.png' }}"></img>
                    {{ form.picture }}
                </div>
                <div class="col s8 m6 ">
                    <table class="table-form">
                        <tr>
                            <th>{{ form.length.label }} </th> 
                        </tr>
                        <tr>
                            <td> {{ form.length }}</td>
                        </tr>
                        <tr>
                            <th>{{ form.name.label }} </th> 
                        </tr>
                        <tr>
                            <td> {{ form.name }}</td>
                        </tr>
                        <tr>
                            <th>{{ form.sail_number.label }} </th> 
                        </tr>
                        <tr>
                            <td>{{ form.sail_number }}</td>
                        </tr>
                        <tr>
                            <th>{{ form.boat_type.label }} </th> 
                        </tr>
                        <tr>
                            <td>{{ form.boat_type }}</td>
                        </tr>
                        <tr>
                            <th>{{ form.build_year.label }} </th> 
                        </tr>
                        <tr>
                            <td>{{ form.build_year }}</td>
                        </tr>
                        <tr>
                            <th>{{ form.owner.label }} </th>
                        </tr>
                        <tr>
                            <td>{{ form.owner }}</td>
                        </tr>
                        <tr>
                            <th>{{ form.club.label }} </th>
                        </tr>
                        <tr>
                            <td>{{ form.club }}</td>
                        </tr>
                        <tr>
                            <th>{{ form.zone.label }} </th> 
                        </tr>
                        <tr>
                            <td>{{ form.zone }}</td>
                        </tr>
                        <tr>
                            <th>{{ form.description.label }} </th> 
                        </tr>
                        <tr>
                            <td>{{ form.description }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12">
                    <input class="bewet-btn" type="submit" value="{% trans 'Enregistrer les modifications' %}" />
                </div>
            </div>
        </div>
    </form>
</div>
