<div class="section" style="background-color: #ffffff;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <h5>{% trans 'Profil personnel' %}</h5>
                <div class="divider"> </div>
                <div class="col s8 m4 center">
                    <img class="avatar" src="{{ user.crew.picture.url | default:'icons/avatar/default.png' }}"></img>
                    {{ profile_form.picture }}
                </div>
                <div class="col s8 m6 ">
                    <table class="table-form">
                        <tr>
                            <th>{{ user_form.first_name.label }} </th> <td> {{ user_form.first_name }}</td>
                        </tr>
                        <tr>
                            <th>{{ user_form.last_name.label }} </th> <td> {{ user_form.last_name }}</td>
                        </tr>
                        <tr>
                            <th>{{ profile_form.gender.label }} </th> <td>{{ profile_form.gender }}</td>
                        </tr>
                        <tr>
                            <th>{{ profile_form.birth_date.label }} </th> <td>{{ profile_form.birth_date }}</td>
                        </tr>
                        <tr>
                            <th>{{ profile_form.size.label }} </th> <td>{{ profile_form.size }}</td>
                        </tr>
                        <tr>
                            <th>{{ profile_form.weight.label }} </th> <td>{{ profile_form.weight }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <h5>{% trans 'Profil régatier' %}</h5>
                <div class="divider"> </div>
                <div class="col s8 m4 center">
                </div>
                <div class="col s8 m6">
                    <table class="table-form">
                        <tr>
                            <th>{{ profile_form.licence_id.label }} </th> <td> {{ profile_form.licence_id }}</td>
                        </tr>
                        <tr>
                            <th>{{ profile_form.isaf_id.label }} </th> <td> {{ profile_form.isaf_id }}</td>
                        </tr>
                        <tr>
                            <th>{{ profile_form.level.label }} </th> <td> {{ profile_form.level }}</td>
                        </tr>
                        <tr>
                            <th>{{ profile_form.language.label }} </th> <td> {{ profile_form.language }}</td>
                        </tr>
                        <tr>
                            <th>{{ profile_form.description.label }} </th> <td> {{ profile_form.description }}</td>
                        </tr>
                        <tr>
                            <th>{{ profile_form.best_results.label }} </th> <td> {{ profile_form.best_results }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col s12 m12">
                    <input class="bewet-btn" type="submit" value="{% trans 'Enregistrer les modifications' %}" />
                </div>
            </div>
        </div>
    </form>
</div>
