Django==1.9.5
django-common-helpers==0.8.0
django-cron==0.4.6
django-debug-toolbar==1.4
django-registration==2.1.2
oauthlib==1.1.2
Pillow==3.3.1
PyJWT==1.4.0
python-openid==2.2.5
python-social-auth==0.2.19
requests==2.10.0
requests-oauthlib==0.6.1
rpdb==0.1.6
six==1.10.0
sqlparse==0.1.19
vim-bridge==0.5
vimpdb==0.4.5
