{% load staticfiles %}
{% load i18n %}

<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>BeWet</title>
        <meta charset="utf-8/">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

        <link rel="stylesheet" href="{% static 'css/font-quicksand.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"/>
        <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bewet.css' %}"/>
        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"/>

        {% block header %}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}

        <div id="navbar">
            <nav  class="black">
                <div class="nav-wrapper">
                    <a class="brand-logo" href="{% url 'homepage' %}" ><img src="{% static 'icons/logo_header.png' %}"></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    {% if user and not user.is_anonymous %}
                    <ul id="nav-mobile" class="right hide-on-med-and-down" style="top:10%;">
                        <li> 
                            <a href="{% url 'regata:profile' %}">
                                <div class="avatar-frame">
                                    <img src="{{ user.crew.picture.url }}"/>
                                    <span style="line-height:initial;">{{ user.first_name|default:user.username }}</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li> 
                            <div class="chip">
                                <img src="images/yuna.jpg" alt="Contact Person">
                                {{ user.get_full_name|default:user.username }}
                            </div>
                        </li>
                    </ul>
                    {% else %}
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li class="nav-li"><a class="bewet-entry" href="{% url 'registration_register' %}">{% trans 'S\'inscrire' %}</a></li>
                        <li class="nav-li"><a class="modal-trigger bewet-entry" href="#modal_login">{% trans 'Se connecter' %}</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{% url 'registration_register' %}">{% trans 'S\'inscrire' %}</a></li>
                        <li><a class="modal-trigger" href="#modal_login">{% trans 'Se connecter' %}</a></li>
                    </ul>
                    {% endif %}
                </div>
            </nav>
        </div>

        {% if not user or user.is_anonymous %}

        <!-- Modal Structure -->
        <div id="modal_login" class="modal">
            <div class="modal-content">
                <span class="bewet-modal-title" >Connectez-vous</span>
                <p>
                <ul class="center">
                    <li>
                        <a class="btn bewet-connect bewet-facebook-connect" href="{% url 'social:begin' 'facebook' %}"><img class="bewet-connect-logo" src="{% static 'icons/external/FB-f-Logo__white_29.png' %}"/><span style="margin-left:20px">Connexion avec Facebook</span></a>
                    </li>
                    <li style="margin-top:10px;">
                        <a class="btn bewet-connect bewet-google-connect" href="{% url 'social:begin' 'google-oauth2' %}"><img class="bewet-connect-logo" src="{% static 'icons/external/btn_google_signin_dark_normal_hdpi.9.png' %}"/><span style="margin-left:20px">Connexion avec Google</span></a>
                    </li>
                    <li  style="margin:20px;">
                        <span class="center" > ou </span>
                    </li>
                    <li>
                        <form method="post" name="login-form" action="{% url 'auth_login' %}">
                            {% csrf_token %}
                            <input placeholder="Email" type="email" name="email"></input>
                            <input placeholder="Mot de passe" type="password" name="password"></input>
                            <button class="btn bewet-btn " type="submit">{% trans 'Valider' %}</button>
                        </form>
                    </li>
                </ul>
                </p>
            </div>
        </div>
        {% endif %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}

        <footer class="page-footer black">
            <div class="row center white-text" >
                <div class="col s12">
                    <a class="white-text" href="#!">Découvrir Bewet</a> |
                    <a class="white-text" href="#!">Qui sommes-nous ?</a> |
                    <a class="white-text" href="#!">Aide</a> |
                    <a class="white-text" href="#!">Nous contacter</a>
                </div>

                <div class="col s12">
                    <img src="{% static 'icons/logo_footer.png' %}" style="padding:30px;"></img>
                </div>

                <div class="col s12">
                    <a class="white-text">Suivez-nous sur :
                        <ul>
                            <li>  
                                <a class="white-text"  href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                                <a class="white-text"  href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                                <a class="white-text"  href="#"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                </div>
                <hr style="width:43px; height:3px; background-color: #ffffff"/>

                <div class="col s12 grey-text text-darken-2">
                    <a class="grey-text text-darken-2" href="#!">Crédits</a> | 
                    <a class="grey-text text-darken-2" href="#!">Mentions légales</a> | 
                    <a class="grey-text text-darken-2" href="#!">Plan du site</a> | 
                    <a class="grey-text text-darken-2" href="#!">CGU/CGV</a>
                </div>
            </div>
            <div class="footer-copyright right">
                © 2016 Copyright Bewet
            </div>
        </footer>
        {% endblock %}

        <script type="text/javascript" src="{% static 'js/jquery-2.2.3.js' %}"></script>
        <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
        <script type="text/javascript" >
$( document ).ready(function(){
    $('.button-collapse').sideNav();
    $('.modal-trigger').leanModal({
        ending_top: '30%', // Ending top style attribute
    });
    $('.tooltipped').tooltip({delay: 50});
}) 

{% if messages %}
{% for message in messages %}
Materialize.toast( '{{ message }}', 4000);
{% endfor %}
{% endif %}
        </script>

        {% block js %}
        {% endblock %}

    </body>
</html>
