{% load staticfiles %}
{% load i18n %}

<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>BeWet</title>
        <meta charset="utf-8/">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

        <link rel="stylesheet" href="{% static 'css/font-quicksand.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"/>
        <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"/>

        {% block header %}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}

        <div id="navbar">
            <nav  class="black">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo" href="{% url 'homepage' %}" ><img src="{% static 'icons/logo_header.png' %}"></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    {% if user and not user.is_anonymous %}
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>  <a>Hello {{ user.get_full_name|default:user.username }}!</a>  </li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li>  <a>Hello {{ user.get_full_name|default:user.username }}!</a>  </li>
                    </ul>
                    {% else %}
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li class="nav-li"><a href="{% url 'registration_register' %}">{% trans 'S\'inscrire' %}</a></li>
                        <li class="nav-li"><a class="modal-trigger" href="#modal_login">{% trans 'Se connecter' %}</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{% url 'registration_register' %}">{% trans 'S\'inscrire' %}</a></li>
                        <li><a class="modal-trigger" href="#modal_login">{% trans 'Se connecter' %}</a></li>
                    </ul>
                    {% endif %}
                </div>
            </nav>
        </div>


        <!-- Modal Structure -->
        <div id="modal_login" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Connectez-vous</h4>
                <p>
                <ul class="center">
                    <li>
                        <a class="bewet-btn btn" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><img src="{% static 'icons/external/FB-f-Logo__white_29.png' %}"/>Connexion avec Facebook</a>
                    </li>
                    <li>
                        <a class="bewet-btn btn" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><img src="{% static 'icons/external/btn_google_signin_dark_normal_hdpi.9.png' %}"/>Connexion avec Google</a>
                    </li>
                    <li>
                        <span class="center"> ou </span>
                    </li>
                    <li>
                        <form method="post" name="login-form" action="{% url 'auth_login' %}">
                            {% csrf_token %}
                            <input placeholder="Email" type="email" name="email"></input>
                            <input placeholder="Mot de passe" type="password" name="password"></input>
                            <button type="submit">{% trans 'Valider' %}</button>
                        </form>
                    </li>
                </ul>
                </p>
            </div>
        </div>
        {% endblock %}


        {% block content %}
        {% endblock %}

        {% block footer %}

        <footer class="page-footer black">
            <div class="row center white-text" >
                <div class="col s12">
                    <a class="white-text" href="#!">Découvrir Bewet</a> |
                    <a class="white-text" href="#!">Qui sommes-nous ?</a> |
                    <a class="white-text" href="#!">Aide</a> |
                    <a class="white-text" href="#!">Nous contacter</a>
                </div>

                <div class="col s12">
                    <img src="{% static 'icons/logo_footer.png' %}" style="padding:30px;"></img>
                </div>

                <div class="col s12">
                    <a class="white-text">Suivez-nous sur :
                    <ul>
                        <li>  
                            <a class="white-text"  href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                            <a class="white-text"  href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                            <a class="white-text"  href="#"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <hr style="width:43px; height:3px; background-color: #ffffff"/>

                <div class="col s12 grey-text text-darken-2">
                        <a class="grey-text text-darken-2" href="#!">Crédits</a> | 
                        <a class="grey-text text-darken-2" href="#!">Mentions légales</a> | 
                        <a class="grey-text text-darken-2" href="#!">Plan du site</a> | 
                        <a class="grey-text text-darken-2" href="#!">CGU/CGV</a>
                </div>
            </div>
            <div class="footer-copyright right">
                    © 2016 Copyright Bewet
            </div>
        </footer>
        {% endblock %}

        <script type="text/javascript" src="{% static 'js/jquery-2.2.3.js' %}"></script>
        <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
        <script type="text/javascript" >
window.fbAsyncInit = function() {
    FB.init({
        appId      : '252475625125931',
        xfbml      : true,
        version    : 'v2.6'
    });
};

(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

$( document ).ready(function(){
    $('.button-collapse').sideNav();
    $('.modal-trigger').leanModal();
}) 
        </script>

        {% block js %}
        {% endblock %}

    </body>
</html>
