{% load staticfiles %}
{% load i18n %}

<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>BeWet</title>
        <meta charset="utf-8/">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

        <link rel="stylesheet" href="{% static 'css/font-quicksand.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
        <link rel="stylesheet" href="{% static 'regata/css/regata.css' %}"/>
        <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">
        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" href="{% static 'css/bewet.css' %}"/>

        {% block header %}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}

        <div id="navbar">
            <nav  class="grey darken-4">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo" href="{% url 'homepage' %}" ><img height="100%" src="{% static 'regata/logo.png' %}"></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li class="nav-li"><a href="{% url 'registration_register' %}">{% trans 'S\'inscrire' %}</a></li>
                        <li class="nav-li"><a class="modal-trigger" href="#modal_login">{% trans 'Se connecter' %}</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{% url 'registration_register' %}">{% trans 'S\'inscrire' %}</a></li>
                        <li><a class="modal-trigger" href="#modal_login">{% trans 'Se connecter' %}</a></li>
                    </ul>
                </div>
            </nav>
        </div>


        <!-- Modal Structure -->
        <div id="modal_login" class="modal modal-fixed-footer grey darken-4">
            <div class="modal-content">
                <h4>Modal Header</h4>
                <p>
                <ul>
                    {% if user and not user.is_anonymous %}
                    <li>
                        <a>Hello {{ user.get_full_name|default:user.username }}!</a>
                    </li>
                    <li>
                        <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Facebook login</a>
                    </li>
                    <li>
                        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Google login</a>
                    </li>
                    <li>
                        <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Twitter login</a>
                    </li>
                    <li>
                        <form method="post" name="login-form" action="{% url 'auth_login' %}">
                            {% csrf_token %}
                            <input placeholder="Email" type="email" name="email"></input>
                            <input placeholder="Password" type="password" name="password"></input>
                            <button type="submit">{% trans 'Connexion' %}</button>
                        </form>
                    </li>
                    {% endif %}
                </ul>
                </p>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">{% trans 'Accepter' %}</a>
            </div>
        </div>
        {% endblock %}


        {% block content %}
        {% endblock %}

        {% block footer %}

        <footer class="page-footer grey darken-4">
            <div class="row" >
                <div class="col l2 s12">
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Découvrir Bewet</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Qui sommes-nous ?</a></li>
                    </ul>
                </div>
                <div class="col l2 s12">
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Nous contacter</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Application mobile</a></li>
                    </ul>
                </div>
                <div class="col l2 s12">
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Crédits</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Mentions légales</a></li>
                    </ul>
                </div>
                <div class="col l2 s12">
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Plan du site</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">CGU/CGV</a></li>
                    </ul>
                </div>
                <div class="col l2 s12">
                    <ul>
                        <li class="grey-text text-lighten-3">Suivez-nous sur :</li>
                        <li>  <a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright grey darken-4">
                <div class="container">
                    © 2016 Copyright Bewet
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
        {% endblock %}

        <script type="text/javascript" src="{% static 'js/jquery-2.2.3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
        <script type="text/javascript" >
window.fbAsyncInit = function() {
    FB.init({
        appId      : '252475625125931',
        xfbml      : true,
        version    : 'v2.6'
    });
};

(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

$( document ).ready(function(){
    $('.button-collapse').sideNav();
    $('.modal-trigger').leanModal();
}) 
        </script>

        {% block js %}
        {% endblock %}

    </body>
</html>
