{% load staticfiles %}

<!DOCTYPE html>
<html ng-app>

    <head>
        <title>Slider</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'css/test.css' %}">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <!--your code start-->
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
                </li>
            </ul>
            <div class="caption center-align" style="position:;bottom:-150px;">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </div>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>



        <script type="text/javascript">
$( document ).ready(function(){
    $('.slider').slider({ full_width: true,});
}); 
        </script>
    </body>

</html>
