html {
    font-family: "quicksandbold";
    background-color: #000000;
}

body {
    display: flex;
    min-height: 99vh;
    flex-direction: column;
    font-size: 100%;
}

main {
  flex: 0 0 auto;
}

div nav {
  height: 90px;
}

nav a.brand-logo {
  padding-left: 10%;
  position: relative;
}


footer.page-footer{
  margin-top: -1px;
  padding-top: -1px;
}

ul#nav-mobile {
    vertical-align: bottom;
}

ul#nav-mobile li.nav-li {
    display: inline-block;
    bottom: 90%;
}

nav div.nav-wrapper ul#nav-mobile {
    vertical-align: bottom;
    margin-right: 100;
    position: relative;
    top: 44%;
}

nav div.nav-wrapper ul#nav-mobile a{
    border-radius: 35px;
    border: 1px solid #FFFFFF;
    width: 200px;
    text-align: center;
    display: inline;
    margin-right: 20px;
}

nav div.nav-wrapper ul#nav-mobile a:hover{
    background-color: #00c1ea;
}
