nav ul a:hover, .btn{
    background-color: #51c0e8;
}

.avatar-frame{
    border: 2px solid #c7b89e;
}

.avatar-frame,.avatar-frame img{
	width: 50px;
	height: 50px;
	-webkit-border-radius: 30px; /* Saf3+, Chrome */
	border-radius: 30px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */
	}

div.modal {
    border-radius: 35px;
}

div#modal_login {
    max-width: 500px;
    width: 35%;
}

a.bewet-btn{
    border-radius: 35px;
    background-color: #00c1ea;
    color: #ffffff;
}

a.bewet-entry {
    border-radius: 35px;
    border: 1px solid #FFFFFF;
    width: 200px;
    text-align: center;
    display: inline;
    margin-right: 20px;
}


a.bewet-connect {
    border-radius: 35px;
    max-width: 80%;
    text-align: center;
    text-transform: none;
    box-shadow: none;
    width:400px;
    font-weight: normal;
    font-size: 90%
}

img.bewet-connect-logo {
    vertical-align: middle;
    height: 90%;
}

a.bewet-google-connect, a.bewet-google-connect:hover{
    background-color: #4285f4;
    color: #ffffff;
}

a.bewet-facebook-connect,  a.bewet-facebook-connect:hover{
    background-color: #00506b;
    color: #ffffff;
}

div.modal-content {
    text-align: center;
    top: 100px;
}

span.bewet-modal-title {
    color: #00c1ea;
}



