{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<style type="text/css">
html {
    font-family: "quicksandbold";
    font-weight: bold;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav ul a:hover, .btn{
    background-color: #52c0e8;
}

footer.page-footer{
  margin-top: 0px;
  padding-top: 0px;
}

.slider .indicators .indicator-item.active {
    background-color: #52c0e8;
}

.slider .indicators {
    bottom: 50;
    z-index: 2;
}

.slider .indicators .indicator-item {
    height: 10px;
    width: 10px;
}

.slider .slides li img {
    opacity: 0.5;
}

.slider {
    height: 600px;
}

.btn:hover {
    background-color: black;
}

</style>
{% endblock %}


{% block content %}
<div id="navbar">
    <nav  class="grey darken-4">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Bewet</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="login.html">Mon espace</a></li>
                <li><a href="club/login.html">Espace club</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="login.html">Mon espace</a></li>
                <li><a href="club/login.html">Espace club</a></li>
            </ul>
        </div>
    </nav>
</div>


<div class="slider grey darken-4" style="height: 600px;">
    <ul class="slides grey darken-4">
        <li>
            <img src="{% static 'landing/images/bg01.jpg' %}"> 
            <div class="caption center-align">
                <h3>Trouvez facilement un embarquement</h3>
                <h4 class="light grey-text text-lighten-3"><font color="#52c0e8">435 </font>embarquements inscrits </h4>
                </br>
                <a class="btn"><span>Inscription gratuite</span></a>
                <p>J'ai déjà un compte, <a href="#"><font color="#52c0e8">je me connecte ici.</font></span></a></p>
            </div>
        </li>
        <li>
            <img src="{% static 'landing/images/bg02.jpg' %}">
            <div class="caption center-align">
                <h3>Trouvez facilement un embarquement</h3>
                <h4 class="light grey-text text-lighten-3"><font color="#52c0e8">435 </font>embarquements inscrits </h4>
                </br>
                <a class="btn"><span>Inscription gratuite</span></a>
                <p>J'ai déjà un compte, <a href="#"><font color="#52c0e8">je me connecte ici.</font></span></a></p>
            </div>
        </li>
        <li>
            <img src="{% static 'landing/images/bg03.jpg' %}">
            <div class="caption center-align">
                <h3>Trouvez facilement un embarquement</h3>
                <h4 class="light grey-text text-lighten-3"><font color="#52c0e8">435 </font>embarquements inscrits </h4>
                </br>
                <a class="btn"><span>Inscription gratuite</span></a>
                <p>J'ai déjà un compte, <a href="#"><font color="#52c0e8">je me connecte ici.</font></span></a></p>
            </div>
        </li>
    </ul>
</div>



<footer class="page-footer grey darken-4">
    <div class="row" >
        <div class="col l2 s12">
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Découvrir Bewet</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Qui sommes-nous ?</a></li>
            </ul>
        </div>
        <div class="col l2 s12">
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Nous contacter</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Application mobile</a></li>
            </ul>
        </div>
        <div class="col l2 s12">
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Crédits</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Mentions légales</a></li>
            </ul>
        </div>
        <div class="col l2 s12">
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Plan du site</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">CGU/CGV</a></li>
            </ul>
        </div>
        <div class="col l2 s12">
            <ul>
                <li class="grey-text text-lighten-3">Suivez-nous sur :</li>
                <li>  <a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container">
            © 2016 Copyright Bewet
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

{% endblock %}

{% block js %}
<script type="text/javascript">
$( document ).ready(function(){
    $('.button-collapse').sideNav();
    $('.slider').slider({
        full_width: true,
        height: 800,
    });
}) 
</script>
{% endblock %}
