
table.table-form th,
table.table-form td{
    padding-bottom:2px;
}

table.table-form th{
    text-align:right;
    font-weight:normal;
    color: #00c1ea;
}

table.table-form td{
    text-align:left;
    color: #666666;
}

img.avatar{
    border-radius:50%;
    height:200px;
    width:200px;
    padding: 10px;
}

div.divider{
    height:2px;
}

input[type='submit']{
    padding: 5px 15px 5px 15px;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

