div.slider {
    height:480px;
}

div.slider ul.indicators {
    z-index: 2;
    bottom: 45px;
}

.slider .indicators .indicator-item{
    width: 9px;
    height: 9px;
}

.slider .indicators .indicator-item.active {
    background-color: #00c1ea;
}

a#separator{
    border-radius: 35px;
    border: 1px solid #ffffff;
    display: inline;
    background-color: #ffffff;
    color: #000000;
    position: relative;
    bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 2;
}
