div.slider {
    height:480px;
}

div.slider ul.indicators {
    z-index: 2;
    bottom: 45px;
}

.slider .indicators .indicator-item{
    width: 9px;
    height: 9px;
}

.slider .indicators .indicator-item.active {
    background-color: #00c1ea;
}

.slider .slides li>img{
    -webkit-filter: brightness(40%); /* Chrome, Safari, Opera */
    filter: brightness(40%);
}

a.bewet-google-signin-btn{
    border-radius: 35px;
    background-color: #00c1ea;
    color: #ffffff;
}

a.bewet-facebook-signin-btn{
    border-radius: 35px;
    background-color: #00c1ea;
    color: #ffffff;
}

a.bewet-btn{
    border-radius: 35px;
    background-color: #00c1ea;
    color: #ffffff;
}

div#separator span{
    border-radius: 35px;
    background-color: #ffffff;
    color: #000000;
    position: relative;
    bottom: 45px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 2;
    font-size:1.2em
}

div#separator img#white_arrow{
    display: block;
    margin-right:auto;
    margin-left:auto;
}

p.promo-caption{
    font-size:1.2em;
    font-weight: bold;
    color: #000000;
}

p.promo-desc{
    font-size:1em;
    font-weight: thin;
    color:#ffffff;
}

div.promo img:hover{
    -webkit-filter: drop-shadow(1px 1px 10px #ffffff); /* Chrome, Safari, Opera */
    filter: drop-shadow(1px 1px 10px #ffffff);
}

a.video-modal-trigger img:hover{
    -webkit-filter: drop-shadow(1px 1px 2px #000000); /* Chrome, Safari, Opera */
    filter: drop-shadow(1px 1px 2px #000000);

}

